body {
	background :  pink;
	color : khaki;
	padding: 30px;
}
h1 {
	color : whitesmoke;
	text-align: center;
}
/* .card-tag-strip { 
	width: 35px;
	height: 30px;
	background-color: hotpink;
	margin: 0 auto;
	border-radius: 100%;
	position: relative;
	top: 20px;
	z-index: 0;
	border: 1px solid honeydew;
} 
.card-tag-strip::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #c1c1c1;
	position: relative;
	top: 10px;
}*/
.card-holder::after {
	content: '';
	width: 7px;
	display: block;
	background-color: purple;
	height: 200px;
	position: absolute;
	top: 15px;
	border-radius: 0 5px 5px 0;
}
.card-holder::before {
	z-index: 5;
	content: '';
	width: 7px;
	display: block;
	background-color: purple;
	height: 200px;
	position: absolute;
	top: 15px;
	left: 165px;
	border-radius: 5px 0 0 5px;
}
.front-page, .back-page {
	width: 150px;
	height: 200px;
	background-color: white;
	padding: 10px;
	position: absolute;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.front-photo img, .back-photo img {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	margin-top: 15px;
	border-radius: 100%;
}
.card-holder, .back-page, .front-page {
	width: 150px;
	height: 200px;
	border: 1px solid mediumslateblue;
	backface-visibility: hidden;
	transition: 1s;
}
.card-holder {
	margin: 0 auto;
	background-color: pink;
	border: 0px;
	border-radius: 5px;
	perspective: 300px;
}
.card-holder .front-page {
	position: absolute;
}
.card-holder:hover .front-page{
	transform: rotateY(180deg);
}
.card-holder .back-page {
	transform: rotateY(-180deg);
}
.card-holder:hover .back-page {
	transform: rotateY(0deg);
}
h3 {
	font-size: 13px;
	margin: 15px;
	font-weight: bold;
}